In [1]:
list_a =[5,2,8,1]

for list in list_a:
    print(list) #리스트 복습 기존 for i 형태아닌걸로 나타내심.

5
2
8
1

In [2]:
for i in range(0,len(list_a)):#시작값과 종료값 디폴트값 각각 0,1(괄호안에 없다면 0,1값이라는거임)
    print(list_a[i])

5
2
8
1

In [3]:
for i in range(6):
    for j in range(6):
        print(i,j) #i,j형태로 넣어서 총개수 36개 0~5개씩
                    # 0돌아가고 0~5 6개
                    # 1돌아가고 0~5 6개
                    # 2돌아가고 0~5 6개
                    # 3돌아가고 0~5 6개
                    # 4돌아가고 0~5 6개
                    # 5돌아가고 0~5 6개

0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5
3 0
3 1
3 2
3 3
3 4
3 5
4 0
4 1
4 2
4 3
4 4
4 5
5 0
5 1
5 2
5 3
5 4
5 5

In [4]:
import numpy as np #넘파이복슴

In [5]:
n_a = np.random.random((10,2)) #랜덤으로 10행 2열

In [6]:
#이 부분은 선생님께서 문제 내주셨어요
#for i 하는데 랜덤으로 대신에 2열에서만
#0.5미만이면 0으로 0.5이상은 1로 나타내기
for i in range(len(n_a)):
    if n_a[i][1] > 0.5 :
        n_a[i][1]=1
    else :
        n_a[i][1]=0
n_a

array([[0.68788236, 1.        ],
       [0.26508902, 0.        ],
       [0.31163037, 1.        ],
       [0.59149591, 0.        ],
       [0.89289321, 0.        ],
       [0.5747559 , 1.        ],
       [0.56295908, 0.        ],
       [0.20924835, 0.        ],
       [0.24452218, 0.        ],
       [0.69536709, 1.        ]])

In [7]:
import pandas as pd #넘파이 말고 판다스로 나타내기

In [8]:
n_a = np.random.random((10,2)) #넘파이를 판다스로 만들어보기

n_a
dt= pd.DataFrame(n_a) #판다스로 데이터프레임 만들어주기
dt

          0         1
0  0.823057  0.928210
1  0.952797  0.415726
2  0.524347  0.437125
3  0.346469  0.966952
4  0.231027  0.223888
5  0.688882  0.435223
6  0.709130  0.748876
7  0.758716  0.315662
8  0.500349  0.228726
9  0.278715  0.688160

In [9]:
dt[1].round(0) #이거는 선생님께서 넘파이에서 2열을 
(#이 부분은 선생님께서 문제 내주셨어요
#for i 하는데 랜덤으로 대신에 2열에서만
#0.5미만이면 0으로 0.5이상은 1로 나타내기)이렇게 내주셨잖아요?
#한줄로 쉽게 판다스에서는 나타낼 수 있는걸 문제로 내주셨어요.

0    1.0
1    0.0
2    0.0
3    1.0
4    0.0
5    0.0
6    1.0
7    0.0
8    0.0
9    1.0
Name: 1, dtype: float64

In [10]:
dt[1]=dt[1].apply(lambda x:1 if (x>0.5) else 0)
#판다스에서 apply써서 lambda를 통해서 하는 다른 방법도 알려주셨구요!

In [11]:
def _round(x):#이렇게 직접 만들어서 apply를 통해서 하는 방법도 알려주셨어요!
    if x > 0.5:
        return 1
    else:
        return 0

In [12]:
dt[1].apply(_round) # 그 다음이 상속부분이었어요!

0    1
1    0
2    0
3    1
4    0
5    0
6    1
7    0
8    0
9    1
Name: 1, dtype: int64

In [1]:
_list=[1,2,3,4,5]
y=tuple(map(lambda x : x-1,_list))

In [2]:
y

(0, 1, 2, 3, 4)

In [4]:
def change(x):
    return x+1

z=list(map(change,_list))

In [5]:
z

[2, 3, 4, 5, 6]

In [6]:
a=list(zip([1,2,5],[3,4,1],[5,6,1]))

In [7]:
a

[(1, 3, 5), (2, 4, 6), (5, 1, 1)]