In [20]:
import pymysql
import pandas as pd

In [21]:
_db =  pymysql.connect(
    user="root",
    passwd="*Bethewannabe27",
    host="localhost",
    db="ubion")

In [22]:
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [23]:
sql="SELECT * FROM user_info"

cursor.execute(sql)
result=cursor.fetchall()
print(result)

[{'ID': 'tese4', 'password': '9876', 'phone': '01071182039', 'ads': 'Africa', 'gender': 2, 'age': 8, 'regit_date': '20220310', 'name': 'Ttochi'}, {'ID': 'test', 'password': '1234', 'phone': '01012345678', 'ads': '??? ??? ???', 'gender': 1, 'age': 45, 'regit_date': '20220310', 'name': '???'}, {'ID': 'test2', 'password': '4567', 'phone': '01057862039', 'ads': 'arctic', 'gender': 1, 'age': 10, 'regit_date': '20220310', 'name': 'doolli'}, {'ID': 'test3', 'password': '1234333', 'phone': '01058482739', 'ads': 'next from doolli', 'gender': 1, 'age': 29, 'regit_date': '20220310', 'name': 'micole'}, {'ID': 'test4', 'password': '9876', 'phone': '01071182039', 'ads': 'Africa', 'gender': 2, 'age': 8, 'regit_date': '20220310', 'name': 'Ttochi'}]

In [24]:
#result를 데이터프레임으로 만들어봅시다!!!
#
dt=pd.DataFrame(result)
dt

,ID,password,phone,ads,gender,age,regit_date,name
0,tese4,9876,01071182039,Africa,2,8,20220310,Ttochi
1,test,1234,01012345678,??? ??? ???,1,45,20220310,???
2,test2,4567,01057862039,arctic,1,10,20220310,doolli
3,test3,1234333,01058482739,next from doolli,1,29,20220310,micole
4,test4,9876,01071182039,Africa,2,8,20220310,Ttochi

In [6]:
#sql ='insert into user_info values(%s,%s,%s,%s,%s,%s,%s,%s)'
#sql에서는 s만씀
#f는 실수
values =["test4","9876","01071182039","Africa",2,8,"20220310","Ttochi"]
cursor.execute(sql,values)
_db.commit()

TypeError: not all arguments converted during string formatting

In [44]:

ID=input("ID :")
pw=input("password :")
phone=input("phone :")
ads=input("address :")
gender=int(input("gender :"))
age=int(input("age :"))
regit_date= input("regit_date :")
name=input("name :")
input_list =[ID,pw,phone,ads,gender,age,regit_date,name]
#숫자를 넣어도 int굳이 안해도됨
cursor.execute(sql,input_list)
_db.cursor() #안된이유 sql변수명 을 다르게 써야함

In [8]:
update_sql = """
/
@
#
$
%
^"""#큰따옴표든 작은 따옴표든 세번씩하면 줄바껴도 할 수 있음.
#길어져서 줄바꿈을 해줌
print(update_sql)

/
@
#
$
%
^

In [17]:
update_sql_1 = """
                    UPDATE user_info
                    SET phone = "01058482739"
                    Where name = "micole"
                """

In [18]:
cursor.execute(update_sql_1)
_db.commit() #데이터베이스 커밋

In [26]:
delete_sql_2="""
            DELETE FROM user_info
            where ID="test"
            """

In [28]:
cursor.execute(delete_sql_2)
_db.commit() #데이터베이스 커밋